.DS_Store
/dist/*
/src/mosaic_framework.egg-info/*
/test/results/*
/test/data/*
*.pyc
.venv/*
script/*.csv
test/test_engine_local/data/*
test/test_engine_local/results/*
test/test_engine_cloud/data/*
test/test_engine_cloud/results/*
/tools/update_library/.venv/*
mosaic_framework.egg-info/
Pipfile
*.lock
/tools/model_deployer/models/*
/tools/model_deployer/bck/*